/* COLORS ======= */
/* EMS ======= */
/* 	ADVANCED TYPOGRAPHY STYLES ============================================================================== */
@font-face {
  font-family: 'Journal-Icons';
  src: url("../fonts/Journal-Icons.eot");
  src: url("../fonts/Journal-Icons.eot?#iefix") format("embedded-opentype"), url("../fonts/Journal-Icons.woff") format("woff"), url("../fonts/Journal-Icons.ttf") format("truetype"), url("../fonts/Journal-Icons.svg#Journal-Icons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'Journal-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-plus, .icon-minus, .icon-remove, .icon-link, .icon-download-alt, .icon-chevron-right, .icon-chevron-left, .icon-reorder, .icon-home, .icon-image, .icon-Single, .icon-Grid, .icon-Mail {
  font-family: 'Journal-Icons';
  speak: none;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-plus:before {
  content: "\5a"; }

.icon-minus:before {
  content: "\7a"; }

.icon-remove:before {
  content: "\58"; }

.icon-link:before {
  content: "\e002"; }

.icon-download-alt:before {
  content: "\53"; }

.icon-chevron-right:before {
  content: "\72"; }

.icon-chevron-left:before {
  content: "\6c"; }

.icon-reorder:before {
  content: "\6d"; }

.icon-home:before {
  content: "\48"; }

.icon-image:before {
  content: "\69"; }

.icon-Single:before {
  content: "\73"; }

.icon-Grid:before {
  content: "\67"; }

.icon-Mail:before {
  content: "\21"; }

body {
  font-family: "garamond-premier-pro", georgia, courier, serif;
  line-height: 1.75em;
  font-size: 1em; }

h1 {
  font-family: "alternate-gothic-no-2-d", helvetica, arial, sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 2em;
  line-height: 1.75em; }
  @media screen and (min-width: 50em) {
    h1 {
      font-size: 2.5em; } }

h2 {
  font-family: "alternate-gothic-no-3-d", helvetica, arial, sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em; }
  @media screen and (min-width: 50em) {
    h2 {
      font-size: 2em; } }

h3 {
  font-family: "alternate-gothic-no-3-d", helvetica, arial, sans-serif;
  font-weight: 800;
  text-align: center; }

h4 {
  font-weight: 600; }

h5 {
  font-weight: 400; }

h6 {
  font-weight: 300; }

p {
  font-size: 1em; }
  @media screen and (min-width: 50em) {
    p {
      font-size: 1.15em; } }

p.intro {
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.75em; }
  @media screen and (min-width: 50em) {
    p.intro {
      font-size: 1.5em; } }

p.subtitle {
  text-align: center;
  display: block;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 2em auto 0 auto;
  padding: .8em; }
  p.subtitle > strong {
    font-weight: 800; }

strong {
  font-weight: 800; }

a {
  text-decoration: none;
  color: black; }

article a {
  border-bottom: 1px dotted black;
  color: black;
  display: inline-block;
  padding: 0; }
  article a:hover {
    color: #03b8ca;
    border: none;
    border-bottom: 1px dotted #03b8ca; }
  article a:active {
    background-color: #03b8ca;
    color: white;
    border-bottom: 1px dotted #03b8ca; }

blockquote {
  font-style: italic;
  line-height: 175%;
  font-size: 1.15em;
  float: left;
  font-family: "garamond-premier-pro",  Georgia, times, serif;
  font-style: italic;
  font-weight: 400;
  border-left: 1px dotted #aaaaaa;
  padding: 0 0 0 2em;
  margin: 2em 0 2em; }
  @media screen and (min-width: 50em) {
    blockquote {
      font-size: 1.25em; } }

blockquote:before {
  font-family: "garamond-premier-pro", Georgia, serif;
  content: "\201c";
  font-size: 5em;
  color: #aaaaaa;
  text-indent: -1.25em;
  margin-top: .25em;
  float: left; }

figcaption {
  font-size: 0.9em;
  font-style: italic;
  padding: 1.25em .75em .75em;
  line-height: 175%; }
  @media screen and (min-width: 50em) {
    figcaption {
      font-size: 1em; } }

.run-in {
  font-size: .8em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .15em; }

.subscript {
  vertical-align: sub;
  font-size: 100%;
  margin-right: .4em;
  letter-spacing: .1em;
  line-height: 0em; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/* ========================================================================  Header */
header {
  width: 100%;
  background-image: url(../img/handmadepaper.png); }

#primary {
  max-height: auto;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa; }
  #primary ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    @media screen and (min-width: 46.875em) {
      #primary ul {
        width: 600px;
        margin: 0 auto; } }
  #primary .active {
    position: relative; }
    #primary .active:after {
      top: 2.25em;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    #primary .active:after {
      border-bottom-color: #252525;
      border-width: .75em;
      left: 50%;
      margin-left: -.75em; }

#primary a {
  text-decoration: none;
  color: #252525;
  display: block;
  margin: 0;
  padding: 1em 1%;
  float: left;
  width: 23%;
  text-align: center; }
  #primary a:hover {
    color: #03b8ca; }
  #primary a:active {
    color: white;
    background-color: #03b8ca; }

#mail {
  display: none;
  float: right;
  margin: 1em .5em;
  padding: .5em 1em;
  border: 1px solid #aaaaaa; }
  #mail a {
    color: #252525; }
  #mail:hover a {
    color: #03b8ca; }
  #mail:active {
    background-color: #03b8ca; }
    #mail:active a {
      color: white; }
  @media screen and (min-width: 46.875em) {
    #mail {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      margin: 0em;
      padding: 1.15em 1.25em .85em; } }

/* ========================================================================  Article */
article {
  width: 90%;
  padding: 1em 5%; }
  @media screen and (min-width: 50em) {
    article p.two {
      column-count: 2;
      -moz-column-count: 2;
      -webkit-column-count: 2;
      -moz-column-gap: 3em;
      -webkit-column-gap: 3em;
      column-gap: 3em;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto; } }
  @media screen and (min-width: 56.25em) {
    article {
      width: 50em;
      margin: 0 auto; } }

/* ========================================================================  Photographs */
.photographs {
  position: relative; }
  @media screen and (min-width: 37.5em) {
    .photographs {
      width: 37.5em;
      margin: 0 auto; } }
  @media screen and (min-width: 50em) {
    .photographs {
      width: 43.75em;
      margin: 0 auto; } }
  @media screen and (min-width: 56.25em) {
    .photographs {
      width: 50em; } }
  @media screen and (min-width: 65.625em) {
    .photographs {
      width: 60em; } }
  @media screen and (min-width: 81.25em) {
    .photographs {
      width: 75em; } }
  @media screen and (min-width: 93.75em) {
    .photographs {
      width: 87.5em; } }

.photo {
  float: left;
  background-image: url(../img/handmadepaper.png);
  padding: 1em;
  margin: 1em;
  -webkit-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.8);
  box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.8); }
  .photo img {
    width: 100%;
    outline: 1px solid #aaaaaa; }

@media screen and (min-width: 50em) {
  .singleview {
    float: none;
    width: 50em;
    margin: 2em auto; } }

@media screen and (min-width: 37.5em) {
  .gridview {
    width: 260px;
    margin: 10px;
    padding: 10px; } }
@media screen and (min-width: 50em) {
  .gridview {
    width: 310px; } }
@media screen and (min-width: 56.25em) {
  .gridview {
    width: 360px; } }
@media screen and (min-width: 56.25em) {
  .gridview {
    width: 360px; } }
@media screen and (min-width: 65.625em) {
  .gridview {
    width: 280px; } }
@media screen and (min-width: 81.25em) {
  .gridview {
    width: 360px; } }
@media screen and (min-width: 93.75em) {
  .gridview {
    width: 310px; } }

.gridview.pano {
  width: 95%; }
  @media screen and (min-width: 65.625em) {
    .gridview.pano {
      width: 96%; } }
  @media screen and (min-width: 81.25em) {
    .gridview.pano {
      width: 97%; } }

/* ========================================================================  Utility Nav */
#utility {
  display: none; }
  @media screen and (min-width: 43.75em) {
    #utility {
      display: block; } }
  #utility ul {
    padding: 0;
    list-style-type: none;
    list-style-type: none;
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 400px;
    -webkit-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.8);
    -ms-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.8);
    -o-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.8);
    box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.8); }
  #utility li {
    text-align: center;
    border: 1px solid #aaaaaa; }
    #utility li:last-child {
      border-top: none; }
  #utility a {
    font-size: .75em;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: .1em;
    display: block;
    margin: 0;
    padding: 1em 1em .5em;
    color: #252525;
    background-color: white; }
    #utility a:hover {
      color: #03b8ca; }
    #utility a:active {
      background-color: #03b8ca;
      color: white; }

/* ========================================================================  Footer */
footer {
  background-image: url(../img/handmadepaper.png);
  border-top: 1px solid #aaaaaa;
  margin: 4em 0 0 0;
  padding: 2em 0; }
