/* COLORS ======= */
/* EMS ======= */
/* 	ADVANCED TYPOGRAPHY STYLES ============================================================================== */
body {
  font-family: "superclarendon", georgia, courier, serif;
  line-height: 1.75em;
  font-size: 1em; }

h1 {
  font-weight: 700;
  text-align: center; }

h2 {
  font-weight: 700;
  text-align: center; }

h3 {
  font-weight: 800;
  text-align: center; }

h4 {
  font-weight: 600; }

h5 {
  font-weight: 400; }

h6 {
  font-weight: 300; }

p.intro {
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.5em; }

p.subtitle {
  text-align: center;
  display: block;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 2em auto 0 auto;
  padding: .8em; }
  p.subtitle > strong {
    font-weight: 800; }

strong {
  font-weight: 800; }

a {
  text-decoration: none;
  color: black; }

article a {
  border-bottom: 1px dotted black;
  color: black;
  display: block;
  padding: 1em; }
  article a:hover {
    color: #03b8ca;
    border: none;
    border-bottom: none; }
  article a:active {
    color: #888888;
    border-bottom: none; }

blockquote {
  font-style: italic;
  line-height: 1.75em;
  font-size: 1.15em;
  float: left;
  font-family: Georgia, times, serif;
  font-style: italic;
  font-weight: 400;
  border-left: 1px dotted #151515;
  padding: 0 0 0 2em;
  margin: 2em 0; }

blockquote:before {
  font-family: Georgia, serif;
  content: "";
  font-size: 2.75em;
  text-indent: -.95em;
  margin-top: .1em;
  float: left; }

figcaption {
  font-size: 0.9em;
  padding: 1.25em .75em .75em;
  line-height: 175%; }

.run-in {
  font-size: .8em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .15em; }

.subscript {
  vertical-align: sub;
  font-size: 100%;
  margin-right: .4em;
  letter-spacing: .1em;
  line-height: 0em; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

header {
  width: 100%; }

article {
  width: 90%;
  padding: 1em 5%; }
  @media screen and (min-width: 50em) {
    article p.two {
      column-count: 2;
      -moz-column-count: 2;
      -webkit-column-count: 2;
      -moz-column-gap: 3em;
      -webkit-column-gap: 3em;
      column-gap: 3em;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto; } }
  @media screen and (min-width: 50em) {
    article {
      width: 50em;
      margin: 0 auto; } }

.photographs {
  position: relative; }
  @media screen and (min-width: 37.5em) {
    .photographs {
      width: 37.5em;
      margin: 0 auto; } }
  @media screen and (min-width: 50em) {
    .photographs {
      width: 50em; } }
  @media screen and (min-width: 60em) {
    .photographs {
      width: 60em; } }
  @media screen and (min-width: 87.5em) {
    .photographs {
      width: 87.5em; } }

.photo {
  float: left;
  background-image: url(../img/handmadepaper.png);
  padding: 1em;
  margin: 1em;
  -webkit-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.8);
  box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.8); }
  .photo img {
    width: 100%;
    outline: 1px solid #aaaaaa; }
  @media screen and (min-width: 50em) {
    .photo {
      float: none;
      width: 50em;
      margin: 2em auto; } }

/*.photo{

	@media screen and (min-width:(em(600))){
	width:260px;
	margin:10px;
	padding:10px;
	}

	@media screen and (min-width:(em(800))){
	width: 360px;
	}

	@media screen and (min-width:(em(960))){
	width:280px;
	}

	@media screen and (min-width:(em(1400))){
	width:310px;
	}
	
	
}

figcaption{
	display:none;
	
}*/
#toggle {
  float: left;
  margin: 1em;
  padding: .5em 1em;
  border: 1px solid #aaaaaa; }
  #toggle:hover {
    color: #03b8ca; }
  #toggle:active {
    background-color: #03b8ca;
    color: white; }
  @media screen and (min-width: 46.875em) {
    #toggle {
      display: none; } }

#mail {
  float: right;
  margin: 1em;
  padding: .5em 1em;
  border: 1px solid #aaaaaa; }
  #mail:hover a {
    color: #03b8ca; }
  #mail:active {
    background-color: #03b8ca; }
    #mail:active a {
      color: white; }
  @media screen and (min-width: 46.875em) {
    #mail {
      position: absolute;
      top: 0px;
      right: 0px;
      margin: 0em;
      padding: 1em 2em; } }

#primary {
  max-height: auto;
  overflow: hidden;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa; }
  #primary ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    @media screen and (min-width: 46.875em) {
      #primary ul {
        width: 600px;
        margin: 0 auto; } }

#primary a {
  text-decoration: none;
  color: #252525;
  display: block;
  margin: 0;
  padding: 1em 1%;
  float: left;
  width: 23%;
  text-align: center; }
  #primary a:hover {
    color: #03b8ca; }
  #primary a:active {
    color: white;
    background-color: #03b8ca; }

#utility a {
  margin: 0;
  padding: .5em;
  border: none; }
#utility ul {
  margin: 0 auto;
  width: 150px;
  list-style-type: none; }
#utility li {
  float: left;
  padding: .1em;
  margin: 0; }
