@import "mixins";
@import "typography";

// Global

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}

// Layout
header{
width:100%;
}

section{

}

article{
width:90%;
padding:1em 5%;

	@media screen and (min-width:(em(800))){
		
		p.two{
			column-count:2;
			-moz-column-count:2;
			-webkit-column-count:2;

			-moz-column-gap:3em;
			-webkit-column-gap:3em;
			column-gap:3em;

			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			hyphens: auto;
			
		}
			
	}

	@media screen and (min-width:(em(800))){
	width: (em(800));
	margin:0 auto;		
	}

}

.photographs{
	position:relative;

	//background-color:$dark-grey;

	@media screen and (min-width:(em(600))){
	width: (em(600));
	margin:0 auto;
	}

	@media screen and (min-width:(em(800))){
	width: (em(800));
	}

	@media screen and (min-width:(em(960))){
	width: (em(960));
	}

	@media screen and (min-width:(em(1400))){
	width: (em(1400));
	}
}


.photo{
float:left;
background-image: url(../img/handmadepaper.png);
padding:1em;
margin:1em;
@include drop-shadow;
img{
		width:100%;
		outline: 1px solid $light-grey;
	}
}

.singleview{


	@media screen and (min-width:(em(800))){
		float:none;
		width: (em(800));
		margin:2em auto;
	}

}


// STYLES FOR GRID VIEW

.gridview{

	@media screen and (min-width:(em(600))){
	width:260px;
	margin:10px;
	padding:10px;
	}

	@media screen and (min-width:(em(800))){
	width: 360px;
	}

	@media screen and (min-width:(em(960))){
	width:280px;
	}

	@media screen and (min-width:(em(1400))){
	width:310px;
	}
	
	
}




// Primary Nav

#toggle{
	float:left;
	margin:1em;
	padding:.5em 1em;
	border:1px solid $light-grey;

	&:hover{
		color:$blue;
	}
	&:active{
		background-color:$blue; 
		color:$white;
	}

	@media screen and (min-width:(em(750))){
		display:none;
	}
}

#mail{
	display:none;
	float:right;
	margin:1em;
	padding:.5em 1em;
	border:1px solid $light-grey;

	&:hover a{
		color:$blue;
	}
	&:active{
		background-color:$blue; 

		a{
		color:$white;
		}
	}

	@media screen and (min-width:(em(750))){
		display:block;
		position:absolute;
		top:0px;
		right:0px;
		margin:0em;
		padding:1em 2em;
	}
}



#primary{
	max-height:auto;
	
	border-top:1px solid $light-grey;
	border-bottom:1px solid $light-grey;

	ul{
		margin:0;
		padding:0;
		list-style-type:none;

		@media screen and (min-width:(em(750))){
		width:600px;
		margin:0 auto;
		}
	}

	.active{
		
		background-color:$white;
		position:relative;

			&:after{
			top: 2.25em;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			}

			&:after{
			border-color: rgba(34, 34, 34, 0);
			border-bottom-color: $blue;
			border-width: .75em;
			left: 50%;
			margin-left: -.75em;
			}
	}
}

#primary a{
	text-decoration:none;
	color: $dark-grey;
	display:block;
	margin:0;
	padding:1em 1%;
	float:left;
	width:23%;
	text-align:center;

	&:hover{
		color:$blue;
	}

	&:active{
		color:$white;
		background-color:$blue;
	}



}



// Utility Nav

#utility{
	

	a{
		margin:0;
		padding:.5em;
		border:none;
	}

	ul{
		margin:0 auto;
		width:150px;
		list-style-type:none;
	}

	li{
		float:left;
		padding:.1em;
		margin:0;
	}
}

// 