/* 	ADVANCED TYPOGRAPHY STYLES ============================================================================== */

body{
	font-family:"garamond-premier-pro", georgia, courier, serif;
	line-height:1.75em;
	font-size:1em;

	@media screen and (min-width:(em(800))){

	}
}

h1{
font-family:"alternate-gothic-no-2-d", helvetica, arial, sans-serif;
font-weight:700;
text-align:center;
text-transform:uppercase;
letter-spacing:.1em;
}

h2{
font-family:"alternate-gothic-no-3-d", helvetica, arial, sans-serif;
font-weight:700;
text-align:center;
text-transform:uppercase;
letter-spacing:.1em;
}

h3{
font-family:"alternate-gothic-no-3-d", helvetica, arial, sans-serif;
font-weight:800;
text-align:center;

}

h4{
font-weight:600;
}

h5{
font-weight:400;
}

h6{
font-weight:300;
}

p{

}

p.intro{
	font-size:1.25em;
	font-weight:500;
	line-height:1.5em;
}

p.subtitle{
text-align:center;
display:block;
font-size: 1em;
font-weight:300;
text-align:center;
text-transform:uppercase;
letter-spacing:.2em;
margin:2em auto 0 auto;
padding:.8em;


	>strong{
	font-weight:800;
	}

}

strong{
font-weight:800;
}

small{

}



a{
	text-decoration:none;
	color:$black;
}

article a{
	border-bottom:1px dotted $black;
	color: $black;
	display:block;
	padding:1em;

	&:hover{
		color:$blue;
		border:none;
		border-bottom:none;
	}

	&:active{
		color:$medium-grey;
		border-bottom:none;
	}

}

blockquote{
	font-style:italic; 
	line-height:1.75em; 
	font-size:1.15em; 
	float:left; 
	font-family: Georgia, times, serif; 
	font-style:italic; 
	font-weight:400; 
	border-left: 1px dotted #151515; 
	padding: 0 0 0 2em; 
	margin: 2em 0;
}

blockquote:before{
	font-family:Georgia, serif;
	content: "";
	font-size:2.75em;
	text-indent:-.95em;
	margin-top:.1em;
	float:left;
}

figure{

}

figcaption{
font-size:0.9em;
padding:1.25em .75em .75em;
line-height:175%;
}

.run-in{
font-size:.8em;
font-weight:700;
text-transform:uppercase;
letter-spacing:.15em;
}

.subscript{
	vertical-align:sub;
	font-size:100%;
	margin-right:.4em;
	letter-spacing:.1em;
	line-height:0em;
}
















